.animal{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    border: 4px solid black;
    box-shadow: 0.1em 0.1em 0.2em;
    padding: 0.5em;
    border-radius: 0.5em;
    grid-template-areas: 
    "icone icone nome nome "
    "icone icone peso peso "
    "icone icone extincao extincao";
    place-items: center;
}

    .icone{
        grid-area: icone;
        font-size: 8em;
    }

    .nome{
        grid-area: nome;
        font-size: 2em;
        font-weight: 600;
    }

    .peso{
        grid-area: peso;
        font-size: 1.5em;
        font-weight: 400;
    }

    .extincao{
        grid-area: extincao;
        background-color: white;
        border-radius: .5em;
        font-weight: 400;
        width: 80%;
        height: 80%;
        align-content: center;
    }